.foo {
    /* container for vertical flexbox items */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bar {
    /* container for horizontal flexbox items */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}